In [3]:
import pandas as pd

In [4]:
weather = pd.read_csv('weather.csv')
weather.head(10)

       STATION                    NAME        DATE  PRCP  SNOW  SNWD
0  US1KSSG0128  ANDOVER 2.4 SSW, KS US  2024-05-02  0.00   0.0   NaN
1  US1KSSG0128  ANDOVER 2.4 SSW, KS US  2024-05-03  0.00   0.0   NaN
2  US1KSSG0128  ANDOVER 2.4 SSW, KS US  2024-05-04  0.22   NaN   NaN
3  US1KSSG0128  ANDOVER 2.4 SSW, KS US  2024-05-05  0.14   NaN   NaN
4  US1KSSG0128  ANDOVER 2.4 SSW, KS US  2024-05-06  0.00   0.0   NaN
5  US1KSSG0128  ANDOVER 2.4 SSW, KS US  2024-05-07  0.07   NaN   NaN
6  US1KSSG0128  ANDOVER 2.4 SSW, KS US  2024-05-08  0.00   0.0   NaN
7  US1KSSG0128  ANDOVER 2.4 SSW, KS US  2024-05-09  0.00   0.0   NaN
8  US1KSSG0128  ANDOVER 2.4 SSW, KS US  2024-05-10  0.00   0.0   NaN
9  US1KSSG0128  ANDOVER 2.4 SSW, KS US  2024-05-11  0.00   0.0   NaN

In [5]:
#filter rows where name contians wichita
filtered_df = weather[weather['NAME'].str.contains('Wichita', case=False, na=False)]

filtered_df.head(10)   

# Optional: save the filtered data to a new CSV
filtered_df.to_csv('wichita_weather.csv', index=False)